<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tableau</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Slug</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>iPhone X</td>
        <td>iphone-x</td>
        <td>Un iPhone de 2017</td>
    </tr>
    <tr>
        <td>iPhone XR</td>
        <td>iphone-xr</td>
        <td>Un iPhone de 2018</td>
    </tr>
    <tr>
        <td>iPhone XS</td>
        <td>iphone-xs</td>
        <td>Un iPhone de 2018</td>
    </tr>
    </tbody>
</table>

</body>
</html>